.containerbox2 {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .containerbox2::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .containerbox2 img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .containerbox2 span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .containerbox2 {
        text-align: center;
    }
    .containerbox2 img {
        margin: auto;
        float: none;
        display: block;
    }
  }